In [1]:
# Import pandas and read in raw data
import pandas as pd
animals = pd.read_csv('animals.csv')
size = pd.read_csv('size_costs.csv')
spons = pd.read_csv('sponsored_animals.csv')
location = pd.read_csv('location_costs.csv')

In [2]:
## Reduce size of animals DataFrame, drop a couple of columns, and reset the index
animals_new = animals.sample(frac=0.1, random_state=42).\
    drop(columns=['outcome', 'outcomesubtype']).\
    reset_index(drop=True)

In [3]:
# Grab a small sample of the animals DataFrame as the sponsored animals
sponsor_new = animals_new.sample(frac=0.18, random_state=42).drop(columns=['birthdate', 'color'])

In [4]:
# Write two new processed files to csv
animals_new.to_csv('animal_data.csv', index=False)
sponsor_new.to_csv('sponsored_pets.csv', index=False)

In [6]:
sponsor_new

             animalid animaltype  weight     location
9513   7e18c2a067e4fd        Cat     2.0      Houston
3952   32372ddbe6e3ec        Cat     7.0       Austin
3524   3b5b82a5555895        Dog    47.0       Austin
3265   da29bb3c402c1c        Dog     8.0       Austin
10619  15bf11c3efa431        Cat    10.0       Austin
...               ...        ...     ...          ...
9627   ea024ad9c5584a        Dog     9.0      Houston
1691   b867e050da54af        Dog    22.0  San Antonio
4889   967a2ba1f7bcd5        Dog    14.0       Dallas
123    76b623924c5fd4        Dog    45.0      Houston
6499   f3de00c24336c4        Dog    14.0      Houston

[2142 rows x 4 columns]

In [7]:
size

  sizeid animaltype    size  costs
0     DL        Dog   Large    175
1     DM        Dog  Medium    150
2     DS        Dog   Small    125
3     CL        Cat   Large    140
4     CM        Cat  Medium    120
5     CS        Cat   Small    100
6     BL       Bird   Large    110
7     BM       Bird  Medium     90
8     BS       Bird   Small     70

In [8]:
# Create sizeid column
animaltype = animals_new['animaltype']
weight = animals_new['weight']
sizeid = []
for i in range(len(animaltype)):
 if (animaltype[i] == 'Dog') & (weight[i]>=31.0):
    sizeid.append('DL')
 elif (animaltype[i] == 'Dog') & (30.0>=weight[i]>=11.0):
    sizeid.append('DM')
 elif (animaltype[i] == 'Dog') & (weight[i]<=10.0):
    sizeid.append('DS')
 elif (animaltype[i] == 'Cat') & (weight[i]>=8.0):
    sizeid.append('CL')   
 elif (animaltype[i] == 'Cat') & (7.0>=weight[i]>=6.0):
    sizeid.append('CM')  
 elif (animaltype[i] == 'Cat') & (weight[i]<=5.0):
    sizeid.append('CS') 
 elif (animaltype[i] == 'Bird') & (weight[i]>=1.1):
    sizeid.append('BL') 
 elif (animaltype[i] == 'Bird') & (1.1>weight[i]>=0.7):
    sizeid.append('BM')
 else:
    sizeid.append('BS')

In [9]:
# Insert sizeid column into animals DataFrame
# animals_new.insert(1,'sizeid',sizeid)

In [10]:
# Drop weight column from animals DataFrame
# animals_new = animals_new.drop(columns = 'weight')

In [11]:
# Write new processed files to csv
animals_new.to_csv('animal_data.csv', index=False)

In [12]:
animals_new

,animalid,birthdate,animaltype,color,weight,location
0,80066a4b41ac06,05/11/2019,Cat,Blue Tabby/White,4.0,Fort Worth
1,968bf2e7230d2f,11/12/2012,Cat,Torbie,7.0,Houston
2,8aacfe19c56b0f,07/08/2013,Dog,White/Tan,45.0,Austin
3,7126d96889803f,04/05/2015,Cat,Black,3.0,Houston
4,9617240ad5b268,04/29/2014,Cat,Black,9.0,Houston
...,...,...,...,...,...,...
11894,c25a7eb87af0f8,09/20/2012,Cat,Orange Tabby/White,10.0,Austin
11895,39f0dfefa4ad6a,03/11/2014,Dog,White/Cream,39.0,Dallas
11896,e96da2dac0d15c,06/20/2017,Dog,Tan,37.0,Austin
11897,75cbb9da993fbb,08/22/2004,Dog,Cream,26.0,Austin
11898,0fafadf051c1ac,03/19/2014,Dog,Blue/White,19.0,Fort Worth

In [13]:
size_df = pd.read_csv('size_costs.csv').drop(columns=['min_weight', 'max_weight'])
size_df.to_csv('size_costs.csv', index=False)

KeyError: "['min_weight' 'max_weight'] not found in axis"

In [14]:
size_df

NameError: name 'size_df' is not defined

In [17]:
sponsor_clean = sponsor_new.drop(columns=['weight'])
sponsor_clean.columns = ['sponsorid', 'animaltype', 'location']
sponsor_clean.to_csv('sponsored_pets.csv', index=False)

In [18]:
sponsor_clean

            sponsorid animaltype     location
9513   7e18c2a067e4fd        Cat      Houston
3952   32372ddbe6e3ec        Cat       Austin
3524   3b5b82a5555895        Dog       Austin
3265   da29bb3c402c1c        Dog       Austin
10619  15bf11c3efa431        Cat       Austin
...               ...        ...          ...
9627   ea024ad9c5584a        Dog      Houston
1691   b867e050da54af        Dog  San Antonio
4889   967a2ba1f7bcd5        Dog       Dallas
123    76b623924c5fd4        Dog      Houston
6499   f3de00c24336c4        Dog      Houston

[2142 rows x 3 columns]