## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [11]:
# Use this cell to begin your analysis, and add as many as you would like!
# Import liberaries
import pandas as pd

In [12]:
# Load data
# Recycling statistics per waste type for the period 2003 to 2017
df_2018_2019_waste_raw = pd.read_csv('datasets/2018_2019_waste.csv')

df_2018_2019_waste_raw.head(5)

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [13]:
# Load data

df_wastestats_raw = pd.read_csv('datasets/wastestats.csv')
df_wastestats_raw.head(5)

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [14]:
# Load data
# Estimations of the amount of energy saved per waste type in kWh
df_energy_saved_raw = pd.read_csv('datasets/energy_saved.csv')

df_energy_saved_raw.head(5)

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [15]:
# Clean up the df_energy_saved

# Rename the first column
df_energy_saved = df_energy_saved_raw.rename(columns={df_energy_saved_raw.columns[0]: "category"})

# Only include the necessary categories
df_energy_saved = df_energy_saved[df_energy_saved['category'].str.lower().isin(['material', 'energy_saved'])]

# Melt the dataframe
df_energy_saved = pd.melt(
    df_energy_saved,
    id_vars=['category'],
    value_vars=df_energy_saved.columns[1:])

# Pivot the dataframe
df_energy_saved = df_energy_saved.pivot(
    index='variable',
    columns='category',
    values='value')

# Clean up the dataframe after pivot
df_energy_saved = df_energy_saved.rename_axis(None, axis=1).reset_index(drop=True)

# Clean up energy_saved column
df_energy_saved['energy_saved'] = df_energy_saved['energy_saved'].str.split().str[0].astype(float)

# Rename energy_saved to energy_saved_kwh
df_energy_saved.rename(columns={'energy_saved': 'kwh_per_tonne'}, inplace=True)

# Fix the material name for Plastic, should be "Plastics"
df_energy_saved.replace('Plastic', 'Plastics', inplace=True)

df_energy_saved

   kwh_per_tonne           material
0         5774.0           Plastics
1           42.0              Glass
2          642.0      Ferrous Metal
3        14000.0  Non-Ferrous Metal
4         4000.0              Paper

In [16]:
# Clean up the df_wastestats_raw

# Fix the material names
# "Plastic", should be "Plastics"
df_wastestats_raw.replace('Plastic', 'Plastics', inplace=True)
# "Non-ferrous metals", should be "Non-ferrous metal"
df_wastestats_raw.replace('Non-ferrous metals', 'Non-ferrous metal', inplace=True)

display(df_wastestats_raw)

# Filter only the required materials in df_wastestats_filtered
materials = ['glass', 'plastics', 'ferrous metal', 'non-ferrous metal']
df_wastestats = df_wastestats_raw[df_wastestats_raw['waste_type'].str.lower().isin(materials)]

# Select only relevant columns
columns = ['waste_type', 'total_waste_recycled_tonne', 'year']
df_wastestats = df_wastestats.loc[:, columns]

# Rename the waste_type column to material
df_wastestats.rename(columns={'waste_type': 'material'}, inplace=True)

df_2013_2017_waste = df_wastestats

df_2013_2017_waste.head(10)

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016
5,Wood,119100,411600.0,530700,0.78,2016
6,Ferrous metal,6000,1351500.0,1357500,0.99,2016
7,Non-ferrous metal,1300,95900.0,97200,0.99,2016
8,Used slag,4100,247000.0,251100,0.98,2016
9,Ash & Sludge,199000,28300.0,227300,0.13,2016
10,Glass,57600,14700.0,72300,0.20,2016
11,Textile/Leather,139800,10900.0,150700,0.07,2016
12,Scrap tyres,3000,29700.0,32700,0.91,2016
13,"Others (stones, ceramics & rubber etc.)",375500,7000.0,382500,0.02,2016
14,Total,3045200,4769000.0,7814200,0.61,2016
15,Food,681400,104100.0,785500,0.13,2015
16,Paper/Cardboard,588500,603700.0,1192200,0.51,2015
17,Plastics,766800,57800.0,824600,0.07,2015
18,C&D,8900,1402900.0,1411800,0.99,2015
19,Horticultural waste,124800,237200.0,362000,0.66,2015
20,Wood,76900,293700.0,370600,0.79,2015
21,Ferrous metal,15200,1333300.0,1348500,0.99,2015
22,Non-ferrous metal,19600,160400.0,180000,0.89,2015
23,Used slag,4100,365800.0,369900,0.99,2015
24,Ash & Sludge,170800,25200.0,196000,0.13,2015
25,Glass,60600,14600.0,75200,0.19,2015
26,Textile/Leather,144200,12500.0,156700,0.08,2015
27,Scrap tyres,2700,32800.0,35500,0.92,2015
28,"Others (stones, ceramics & rubber etc)",359300,5700.0,365000,0.02,2015
29,Total,3023800,4649700.0,7673500,0.61,2015
...,...,...,...,...,...,...
195,Food waste,515100,32900.0,548000,0.06,2003
196,Paper/Cardboard,618500,466200.0,1084700,0.43,2003
197,Plastics,540800,39100.0,579900,0.07,2003
198,Construction Debris,24600,398300.0,422900,0.94,2003
199,Wood/Timber,172600,40800.0,213400,0.19,2003
200,Horticultural Waste,185300,119300.0,304600,0.39,2003
201,Ferrous Metals,57700,799000.0,856700,0.93,2003
202,Non-ferrous Metals,18100,75800.0,93900,0.81,2003
203,Used Slag,21800,238500.0,260300,0.92,2003
204,Sludge,88500,0.0,88500,0.00,2003
205,Glass,59300,6200.0,65500,0.09,2003
206,Textile/Leather,90700,900.0,91600,0.01,2003
207,Scrap Tyres,8200,6200.0,14400,0.43,2003
208,"Others (stones, ceramics & rubber etc)",103800,0.0,103800,0.00,2003
209,Total,2505000,2223200.0,4728200,0.47,2003
210,Construction debris,9400,1599900.0,1609300,0.99,2017
211,Ferrous metal,7800,1371000.0,1378800,0.99,2017
212,Used slag,3100,269400.0,272500,0.99,2017
213,Non-ferrous metal,1500,92200.0,93700,0.98,2017
214,Scrap tyres,2900,33000.0,35900,0.92,2017
215,Wood,97300,326800.0,424100,0.77,2017
216,Horticultural waste,107600,220700.0,328300,0.67,2017
217,Paper/Cardboard,576000,568800.0,1144800,0.50,2017
218,Glass,58900,12400.0,71300,0.17,2017
219,Food,676800,133000.0,809800,0.16,2017
220,Ash and sludge,214800,28600.0,243400,0.12,2017
221,Plastics,763400,51800.0,815200,0.06,2017
222,Textile/Leather,141200,9600.0,150800,0.06,2017
223,"Others (stones, ceramic, rubber, etc.)",319300,7100.0,326400,0.02,2017
224,Total,2980000,4724300.0,7704300,0.61,2017

             material  total_waste_recycled_tonne  year
2            Plastics                     59500.0  2016
6       Ferrous metal                   1351500.0  2016
7   Non-ferrous metal                     95900.0  2016
10              Glass                     14700.0  2016
17           Plastics                     57800.0  2015
21      Ferrous metal                   1333300.0  2015
22  Non-ferrous metal                    160400.0  2015
25              Glass                     14600.0  2015
32           Plastics                     80000.0  2014
36      Ferrous metal                   1388900.0  2014

In [17]:
# Clean up the df_2018_2019_waste_raw

# Filter only the required materials in df_wastestats_filtered
materials = ['glass', 'plastics', 'ferrous metal', 'non-ferrous metal']
df_2018_2019_waste = df_2018_2019_waste_raw[df_2018_2019_waste_raw['Waste Type'].str.lower().isin(materials)]

# Select only relevant columns
columns = ['Waste Type', 'Total Recycled (\'000 tonnes)', 'Year']
df_2018_2019_waste = df_2018_2019_waste.loc[:, columns]

# Rename the columns to more proper labels
df_2018_2019_waste.columns = ['material', 'total_waste_recycled_tonne', 'year']

# The waste is specified in kilo-tonnes, we need tonnes
df_2018_2019_waste['total_waste_recycled_tonne'] = df_2018_2019_waste['total_waste_recycled_tonne'] * 1000

df_2018_2019_waste

             material  total_waste_recycled_tonne  year
1       Ferrous Metal                     1270000  2019
3            Plastics                       37000  2019
10  Non-Ferrous Metal                      124000  2019
11              Glass                       11000  2019
16      Ferrous Metal                      126000  2018
18           Plastics                       41000  2018
25  Non-Ferrous Metal                      170000  2018
26              Glass                       12000  2018

In [18]:
# Union the dataframes for years 2013 to 2017 and 2018 to 2019
df_waste = pd.concat([df_2013_2017_waste, df_2018_2019_waste])

# Filter out years between 2015 and 2019
df_waste['year'] = df_waste['year'].astype(int)
df_waste = df_waste[
    (df_waste['year'] >= 2015) & (df_waste['year'] <= 2019)]

# Normalise the material values to lowercase
df_waste['material'] = df_waste['material'].str.lower()
df_energy_saved['material'] = df_energy_saved['material'].str.lower()

# Join in the df_energy_saved
df = df_waste.merge(df_energy_saved, on='material', how='left')

# Calculate the energy yield after recycling
df['energy_saved_yield'] = df['total_waste_recycled_tonne'] * df['kwh_per_tonne']

display(df)

# Reduce the yield to yierly yield and name it total_energy_saved
annual_energy_savings = df.groupby('year') \
                          .agg({'energy_saved_yield': 'sum'})\
                          .rename(columns={'energy_saved_yield': 'total_energy_saved'})

annual_energy_savings

,material,total_waste_recycled_tonne,year,kwh_per_tonne,energy_saved_yield
0,plastics,59500.0,2016,5774.0,3.435530e+08
1,ferrous metal,1351500.0,2016,642.0,8.676630e+08
2,non-ferrous metal,95900.0,2016,14000.0,1.342600e+09
3,glass,14700.0,2016,42.0,6.174000e+05
4,plastics,57800.0,2015,5774.0,3.337372e+08
5,ferrous metal,1333300.0,2015,642.0,8.559786e+08
6,non-ferrous metal,160400.0,2015,14000.0,2.245600e+09
7,glass,14600.0,2015,42.0,6.132000e+05
8,ferrous metal,1371000.0,2017,642.0,8.801820e+08
9,non-ferrous metal,92200.0,2017,14000.0,1.290800e+09
10,glass,12400.0,2017,42.0,5.208000e+05
11,plastics,51800.0,2017,5774.0,2.990932e+08
12,ferrous metal,1270000.0,2019,642.0,8.153400e+08
13,plastics,37000.0,2019,5774.0,2.136380e+08
14,non-ferrous metal,124000.0,2019,14000.0,1.736000e+09
15,glass,11000.0,2019,42.0,4.620000e+05
16,ferrous metal,126000.0,2018,642.0,8.089200e+07
17,plastics,41000.0,2018,5774.0,2.367340e+08
18,non-ferrous metal,170000.0,2018,14000.0,2.380000e+09
19,glass,12000.0,2018,42.0,5.040000e+05

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09